<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Transaction</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        .submit {
            cursor: pointer;
            height: 40px;
            width: 200px;
            border-radius: 8px;
            border: none;
            background: yellow;
        }

        .title {
            font-size: 24px;
            line-height: normal;
        }

        .add-form {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    </style>
</head>
<body>
<form class="add-form" id="change_form">
    <span class="title">Изменить транзакцию</span>
    <div><label> Balance : <input type="number" name="payment" id="payment"/> </label></div>
    <div><label> Comment : <input type="text" name="comment" id="comment"/> </label></div>
    <div>
        <button type="submit" class="submit">Update</button>
    </div>
    <a href="#" id="back"> <- back</a>
</form>
<script>
    $(document).ready(() => {
        $("#back").click(() => {
            window.history.back()
        })
        const path = location.pathname.split("/")
        const id = path[path.length - 4]
        const transactionId = path[path.length - 2]
        console.log(path)
        $("#change_form").submit(function (e) {
            e.preventDefault();
            $.ajax({
                method: "PUT",
                url: `/api/bankAccount/v1/accounts/${id}/transactions/${transactionId}`,
                contentType: "application/json",
                dataType: "json",
                cache: false,
                data: JSON.stringify({
                    "payment": $('#payment').val(),
                    "comment": $('#comment').val(),
                }),
            }).done(()=>{
                alert("Успешно изменино")
                window.history.back();
            }).fail((e) => {
                if (e.status === 201) {
                    alert("Успешно изменино")
                    window.history.back();
                } else {
                    console.log(e)
                }
            })
            return false;
        });
    })

</script>
</body>
</html>